@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
  font-family: 'Crimson Text', serif;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  background-color: black;
}

.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.column {
  width: 100%;
}

@media (min-width: 600px) {
  .column {
    width: 50%;
  }
}

a:link {
  color: rgb(8, 183, 90);
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: rgb(8, 183, 90);
  background-color: transparent;
  text-decoration: none;
}


a:hover {
  color: yellow;
}


.App-header {
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  top: 0%;
  left: 0%;
}

.App-link {
  color: #61dafb;
}

.plant {
  pointer-events: none;
  cursor: none;
  background-color: transparent;
}





