@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400;1,600&display=swap');

* {
  font-family: 'Crimson Text', serif;
  background-color: white;
  color: black;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  
}


@media screen and (min-width: 600px) {
  .App {
    font-size: x-large;
  }
}

@media screen and (max-width: 599px) {
  .App {
    font-size: medium;
  }
}

.App {
  color: white;
  margin: 2vh;
  max-width: 500px;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}



@media (min-width: 600px) {
  .column {
    width: 50%;
  }
}

a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}


a:hover {
  color: blue;
}


.cute1 {
  pointer-events: none;
  cursor: none;
  background-color: transparent;
}





